*.pyc
source/__pycache__/misc_functions.cpython-38.pyc
source/__pycache__/assets.cpython-38.pyc
scores/high_scores.json
notes.txt
scores/high_scores.json
source/__pycache__/assets.cpython-38.pyc
source/__pycache__/misc_functions.cpython-38.pyc
